<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation=" http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

<bean class="com.xworkz.projector.custom.Projector" id="projector">

<constructor-arg value="5" />
<constructor-arg value="true" />
<constructor-arg value="10.00" />
<property name="cost" value="2000.00"></property>
</bean>

<bean class="com.xworkz.ball.custom.Ball" id="ball">
<constructor-arg name="type" value="leather" />
<constructor-arg name="usedFor" value="cricket"/>

</bean>

<bean class="com.xworkz.ball.custom.Ball" id="ball1">
<constructor-arg name="type" value="leather" />
<constructor-arg name="weight" value="5.00"/>

</bean>

<bean class="com.xworkz.ball.custom.Ball" id="ball2">
<constructor-arg name="weight" value="5.00" />
<constructor-arg name="usedFor" value="cricket"/>

</bean>

<bean class="com.xworkz.country.custom.Country" id="country">
<constructor-arg name="primeMinister" value="Narendra Modi" />
<property name="president" value="Ramnath Kovind " />
<property name="capital" value="New Delhi" />
<property name="population" value="13600000" />
<property name="noOfStates" value="28" />

</bean>

<bean class="com.xworkz.studental.Student" id="student1">
<constructor-arg name="age" value="10"/>
<constructor-arg name="name" value="Hari"/>
<constructor-arg name="address" value="Bangalore"/>
</bean>
<bean class="com.xworkz.studental.Student" id="student2">
<constructor-arg name="age" value="12"/>
<constructor-arg name="name" value="Swathi"/>
<constructor-arg name="address" value="Mangalore"/>
</bean>
<bean class="com.xworkz.studental.Student" id="student3">
<constructor-arg name="age" value="9"/>
<constructor-arg name="name" value="Kavitha"/>
<constructor-arg name="address" value="Mumbai"/>
</bean>

<bean class="com.xworkz.studental.StudentAL" id="studentAL">
<property name="stuAL">
	<list value-type="com.xworkz.studental.Student">
		<ref bean="student1"/>
		<ref bean="student2"/>
		<ref bean="student3"/>
	</list>
</property>
</bean>
</beans>