<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation=" http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
	
	<bean class="java.lang.Integer" id="integerPin">
		<constructor-arg value="3"/>
	</bean>
	
	<bean class="com.xworkz.charger.Charger" id="charger">
		<property name="noOfPins" ref="integerPin"/>
	</bean>
	
	<bean class="com.xworkz.charger.SwitchBoard" id="switchBoard">
	
	<constructor-arg name="charger" ref="charger"/>
	<property name="brand" value="Chroma"></property>
	</bean> 
	
</beans>